<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
<div class="col-sm-9 col-md-10">
    <div style="padding: 30px">  
        <div calass="row">            
            <div class="col-md-12">
                <div class="card">
                    <div id="filters">
                       {{> proposalFilters}}
                    </div>                                     
                    <div class="card-body">
                        {{#each proposals as |proposal|}}
                        <div class="proposal" id={{_id}}>
                            <div class="row">
                                <div class="col-md-10">
                                    <h5 class="font-weight-bold">
                                        <a href="/api/S3/getObject/{{fileName}}" name="fileName">{{fileName}}</a>                                        
                                        <span class="badge badge-pill {{statusBadgeClass feasibilityStatus 'badge'}}">
                                            {{feasibilityStatus}}
                                        </span>                                  
                                    </h5>
                                    <h6>Uploaded on {{formatDate createdAt}} by {{user.name}}</h6>
                                    {{#if feasibilityReviewDate}}
                                        <h6>
                                            Feasibility reviewed on {{formatDate feasibilityReviewDate}} by {{feasibilityReviewer.name}}
                                        </h6>
                                    {{/if}}                                    
                                </div>
                                <div class="col-md-2">
                                    <div class="btn-group float-right" role="group">
                                        {{#ifEquals feasibilityStatus 'Pending'}}
                                            {{!-- <button type="button" class="btn btn-success btn-sm" onclick="updateFeasibilityStatus('{{../_id}}', true)"> --}}
                                            <button type="button" class="btn btn-success btn-sm" onclick="openFeasibilityModal('{{../_id}}')">
                                                Feasibility Checked
                                            </button>
                                        {{/ifEquals}}
                                        {{#ifNotEquals feasibilityStatus 'Revise Requested'}}
                                            <button type="button" class="btn btn-danger btn-sm" onclick="updateFeasibilityStatus('{{../_id}}', false)">
                                                Revise Requested
                                            </button>
                                            {{/ifNotEquals}}

                                            {{#ifEquals feasibilityStatus 'Revise Requested'}}
                                             <button type="button" class="btn btn-danger btn-sm" onclick="updateFeasibilityStatus('{{../_id}}', false)" disabled>
                                                Revise Requested
                                            </button>
                                            {{/ifEquals}}

                                        {{!-- Feasibility Modal --}}
                                         <div class="modal" id="feasibility-modal-{{_id}}" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title font-weight-bold" id="modal-title">
                                                            Upon confirmation, the feasibility status cannot be amended thereafter, and an automatic email will be sent to the BROC chair to initiate the review process. Do you want to proceed?
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true" onclick="closeFeasibilityModal('{{_id}}')">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" onclick="updateFeasibilityStatus('{{_id}}', true)">Yes</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeFeasibilityModal('{{_id}}')">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                                                                                    
                                    </div>                                   
                                    
                                    {{#if ../user.roles.chair}}
                                        {{#unless reviewerIds}}
                                            <div class="btn-group float-right" role="group">        
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button type="button" class="btn btn-secondary" onclick="assignReviewer('{{_id}}')">Submit</button>    
                                                    </div>
                                                    <select class="selectpicker"
                                                    id="reviewerSelect" 
                                                    data-live-search="true" 
                                                    data-style="btn-white" 
                                                    data-size="5" 
                                                    data-title="Select Reviewers"
                                                    data-selected-text-format="static" 
                                                    multiple>                     
                                                        {{#each ../reviewers as |reviewer|}}
                                                            <option selected value="{{reviewer._id}}"                    
                                                            >{{reviewer.name}}</option>
                                                        {{/each}}                                           
                                                    </select>                                                   
                                                </div>                                     
                                            </div>
                                        {{else}}  
                                            <button type="button" class="btn btn-seoncary" data-toggle="modal" data-target="#reviewersList-{{_id}}">
                                                See Reviewers
                                            </button>
                                            <!-- Modal for showing list of reviewers -->
                                            <div class="modal fade" id="reviewersList-{{_id}}" tabindex="-1" role="dialog"aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title font-weight-bold">Reviewer's list for {{proposal.fileName}}</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {{#with proposal.assignedReviewers as |reviewers|}}
                                                                {{#each reviewers as |reviewer|}}
                                                                    <p>{{reviewer.name}}, {{reviewer.email}}</p>
                                                                {{/each}}
                                                            {{/with}}                                  
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                      
                                        {{/unless}}
                                    {{/if}}                        

                                </div>
                            </div>
                            <hr />
                        </div>
                        {{/each}}   
                    </div>
                </div>               
            </div>            
        </div>               
    </div>
</div>
</div>
</div>

<link rel="stylesheet" href="/public/css/bootstrap-select.min.css"></link>
<script type="text/javascript" src="/public/js/bootstrap-select.min.js"></script>

<script type="text/javascript" src="/public/scripts/proposals/submissions-list.js"></script>