<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
<div class="col-sm-9 col-md-10">
    <div style="padding: 30px">  
        <div calass="row">            
            <div class="col-md-12">
                <div class="card">
                    <div>
                        {{> proposalFilters}}
                    </div>                                     
                    <div class="card-body">
                        {{#each proposals as |proposal|}}
                        <div class="proposal" id={{_id}}>
                            <div class="row">
                                <div class="col-md-10">
                                    <h5 class="font-weight-bold">
                                        <a href="/api/S3/getObject/{{fileName}}" name="fileName">{{fileName}}</a>                                        
                                        <span class="badge badge-pill {{statusBadgeClass feasibilityStatus 'badge'}}">
                                            {{feasibilityStatus}}
                                        </span>                                  
                                    </h5>
                                    <h6>Uploaded on {{formatDate createdAt}} by {{user.name}}</h6>
                                    {{#if feasibilityReviewDate}}
                                        <h6>
                                            Feasibility reviewed on {{formatDate feasibilityReviewDate}} by {{feasibilityReviewer.name}}
                                        </h6>
                                    {{/if}}                                    
                                </div>
                                
                                <div class="col-md-2">
                                    <div class="btn-group float-right" role="group">
                                        
                                        {{#if ../user.roles.coordinator}}
                                            {{#ifEquals feasibilityStatus 'Pending'}}
                                                <button type="button" class="btn btn-success btn-sm" onclick="openFeasibilityModal('{{../_id}}')">
                                                    Feasibility Checked
                                                </button>

                                                <button type="button" class="btn btn-danger btn-sm" onclick="updateFeasibilityStatus('{{../_id}}', false)">
                                                    Revise Requested
                                                </button>
                                            {{/ifEquals}}

                                            
                                            {{#ifEquals feasibilityStatus 'Revise Requested'}}
                                                 <button type="button" class="btn btn-danger btn-sm" onclick="updateFeasibilityStatus('{{../_id}}', false)" disabled>
                                                    Revise Requested
                                                </button>
                                            {{/ifEquals}}


                                        {{/if}}

                                        
                                       

                                        {{#if ../user.roles.chair}}
                                        <div class="col-md-2">
                                            <div class="btn-group float-right" role="group">
                                                    {{#unless reviewerIds}}
                                                    <button type="button" class="btn btn-success btn-sm" onclick="openModal('{{_id}}')">
                                                         Assign Reviewer 
                                                    </button> 
                                                    {{/unless}}
                                            </div>
                                        </div>
                                        {{/if}}


                                    </div>
                                </div>

                                        {{!-- Assign Reviewer Modal --}}
                                        <div class="modal" id="modal-{{_id}}"tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title font-weight-bold" id="modal-title">Assign a reviewer for {{fileName}}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true" onclick="closeModal('{{_id}}')">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <select id="reviewerSelect" multiple="multiple">
                                                            <option disabled selected value> -- select reviewers -- </option>
                                                            {{#each ../reviewers as |reviewer|}}
                                                            <option value="{{reviewer._id}}" selected="false">{{reviewer.name}}</option>
                                                            {{/each}}
                                                            
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" onclick="assignReviewer('{{_id}}')">Assign</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('{{_id}}')">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                         {{!-- Feasibility Modal --}}
                                        <div class="modal" id="feasibility-modal-{{_id}}"tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title font-weight-bold" id="modal-title">
                                                            Upon confirmation, the feasibility status cannot be amended thereafter, and an automatic email will be sent to the BROC chair to initiate the review process. Do you want to proceed?
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true" onclick="closeFeasibilityModal('{{_id}}')">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" onclick="updateFeasibilityStatus('{{_id}}', true)">Yes</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeFeasibilityModal('{{_id}}')">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                            </div>
                            <hr />
                        </div>
                        {{/each}}   
                    </div>
                </div>               
            </div>            
        </div>               
    </div>
</div>
</div>
</div>
<script type="text/javascript" src="/public/scripts/proposals/submissions-list.js"></script>