{{#if notDatatableView}}
  <div id="header" class="text-white bg-info">
    <div class="row pt-2 pb-2 pl-2">
      <div class="col-md-2">
        <h5>Proposals List</h5>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <input
            id="search-input"
            type="text"
            class="form-control col"
            placeholder="Search Titles"
            onkeyup="searchProposals()"
          />
          <div class="input-group-append">
            <button
              class="btn btn-secondary"
              type="button"
              onclick="searchProposals()"
            >
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col">
            <h5>
              Showing
              <select class="selectpicker" id="limit">
                <option value="All">All</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
              per page
            </h5>
          </div>
          <div class="col btn-group" role="group">
            {{#if hasPrev}}
              <button
                type="button"
                class="btn btn-info"
                onclick="goToPage('{{prev}}')"
              >Previous</button>
            {{/if}}
            {{#if hasNext}}
              <button
                type="button"
                class="btn btn-info"
                onclick="goToPage('{{next}}')"
              >Next</button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
<div id="filters">
  <div class="row mt-4 ml-2 mr-2">
    <div class="col">
      <select
        class="selectpicker"
        id="sort"
        data-style="btn-white"
        data-size="5"
      >
        <option value="createdAt:-1">Sort By Newest</option>
        <option value="createdAt:1">Sort By Oldest</option>
        <option value="fileName:1">Sort By Title (A-Z)</option>
        <option value="fileName:-1">Sort By Title (Z-A)</option>
      </select>
    </div>
    <div class="col">
      <select
        class="selectpicker"
        id="feasibilityStatus"
        data-live-search="true"
        data-style="btn-white"
        data-width="65%"
      >
        <option value="All">Filter By Feasibility Status (All)</option>
        <option value="Pending">Pending</option>
        <option value="Feasibility Checked">Feasibility Checked</option>
        <option value="Revise Requested">Revise Requested</option>
      </select>
    </div>
    <div class="col">
      <select
        class="selectpicker"
        id="reviewStatus"
        data-live-search="true"
        data-style="btn-white"
        data-width="65%"
      >
        <option value="All">Filter By Final Review Status (All)</option>
        <option value="Approve">Approve</option>
        <option value="Revise">Revise</option>
        <option value="Reject">Reject</option>
      </select>
    </div>
  </div>
      <br>
    <div class="row ml-2 mr-2">
        <div class="col-md-2">
            <select class="selectpicker" id="uploadedAt-date" data-style="btn-white">
                <option value="range" role="button">Date Range</option>
                <option value="exact">Exact Date</option>
            </select>
        </div>
        <div class="col-md-10">
            <div class="row"> 
                <div class="col">
                    <input class="form-control bg-white" type="date" id="uploadedAt-startDate" onchange="pickDate('uploadedAt')" display="none">
                </div>
                <div class="col">
                    <input class="form-control bg-white" type="date" id="uploadedAt-endDate" onchange="pickDate('uploadedAt')" display="none">
                </div>
            </div>
        </div>
    </div>
    <div class="row ml-2 mr-2">
        <div class="col-md-2">
            <select class="selectpicker" id="reviewDate-date" data-style="btn-white">
                <option value="range" role="button">Date Range</option>
                <option value="exact">Exact Date</option>
            </select>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col">
                    <input class="form-control bg-white" type="date" id="reviewDate-startDate" onchange="pickDate('reviewDate')" display="none">
                </div>
                <div class="col">
                    <input class="form-control bg-white" type="date" id="reviewDate-endDate" onchange="pickDate('reviewDate')" display="none">
                </div>
            </div>
        </div>
    </div>
</div>
{{#if notDatatableView}}
  <div class="bg-light text-dark pt-2 pb-1 pl-2 mt-2" id="footer">
    <h6>Page
      {{currentPage}}
      of
      {{totalNumPages}}
      (showing
      {{proposals.length}}
      items of
      {{total}}
      items)</h6>
  </div>
{{/if}}

<link rel="stylesheet" href="/public/css/bootstrap-select.min.css"></link>
<script type="text/javascript" src="/public/js/bootstrap-select.min.js"></script>

<script type="text/javascript" src="/public/scripts/proposals/proposalsListFilters.js"></script>