<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">  
        <div calass="row">            
            <div class="col-md-12">
                <div class="row">
                    <div class="col pl-4 pr-4">
                        <div class="card pt-4 pb-4">
                            <h3 class="font-weight-bold text-info text-center">{{numReviewed}} Reviewed by you</h3>
                        </div>
                    </div>
                    <div class="col pl-4 pr-4">
                        <div class="card pt-4 pb-4">
                            <h3 class="font-weight-bold text-danger text-center">{{numRejected}} Not approved by you</h3>
                        </div>
                    </div>
                    <div class="col pl-4 pr-4">
                        <div class="card pt-4 pb-4">
                            <h3 class="font-weight-bold text-success text-center">{{numApproved}} Approved by you</h3>
                        </div>
                    </div>                
                </div>
                <br><br>
                <div class="card">
                    <div>                                                  
                        {{> briefSubFilters}}
                    </div>                                     
                    <div class="card-body">
                        {{#each submissions as |sub|}}
                        <div class="submission" id={{sub.id}}>
                            <div class="row">
                                <div class="col-md-10">
                                    <h5 class="font-weight-bold">
                                        <a href="../../brief/{{sub.id}}" name="projectTitle">{{sub.shortTitle}}</a>
                                        <span class="badge badge-pill {{statusBadgeClass sub.status 'badge'}}">{{status sub.status}}</span>
                                        {{#if sub.reviewer}}
                                        <span class="badge badge-pill badge-secondary">Reviewed By {{sub.reviewer.name}}</span> 
                                        {{/if}}                      
                                    </h5>                                                                   
                                    <h6>Submitted on {{sub.dateString}} by {{sub.name}}, {{sub.position}} at {{sub.instituition}} ({{sub.email}})</h6>       
                                    <div id="comment{{sub.id}}" class="collapse">
                                        <!--<textarea  class="bg-light form-control" disabled style="resize: none;" type="text" rows="2" cols="50">{{sub.reviewer.name}}: {{sub.comment}}   </textarea>-->
                                    </div>                                    
                                </div>
                                <div class="col-md-2" >
                                    <div class="btn-group float-right" role="group">                                        
                                        {{#if sub.comments}}                                  
                                        <button type="button" class="btn btn-secondary" data-toggle="collapse" href="#comment{{sub.id}}" title="View Comment" onclick="viewComments('{{sub.id}}')"><i class="fa fa-comment"></i></button>
                                        {{/if}}
                                        {{#if sub.conceptProposals}}                             
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Proposal Submitted</button>
                                        <div class="dropdown-menu" id="porposalsList{{sub.id}}">
                                            {{#each sub.conceptProposals as |proposal|}}
                                                <a class="dropdown-item" href="/proposal/{{proposal.briefSubmissionId}}/{{proposal._id}}">
                                                    {{formatDate proposal.createdAt}} <span class="badge badge-pill {{statusBadgeClass proposal.status 'badge'}}">{{status proposal.status}}</span>
                                                </a>
                                            {{/each}}
                                        </div>
                                        {{/if}}                                         
                                    </div>                                      
                                </div>                                
                            </div>
                            <hr>
                        </div>
                        {{/each}}                  
                    </div>
                </div>               
            </div>            
        </div>               
    </div>
</div>
</div>
</div>
<script type="text/javascript" src="/public/scripts/briefs/review.js"></script>