<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">  
        <div calass="row">            
            <div class="col-md-12">
                <div class="row">
                    <div class="col pl-4 pr-4">
                        <div class="card pt-4 pb-4">
                            <h3 class="font-weight-bold text-info text-center">#numReviewed Reviewed by you</h3>
                        </div>
                    </div>
                    <div class="col pl-4 pr-4">
                        <div class="card pt-4 pb-4">
                            <h3 class="font-weight-bold text-danger text-center">#numRejected Not approved by you</h3>
                        </div>
                    </div>
                    <div class="col pl-4 pr-4">
                        <div class="card pt-4 pb-4">
                            <h3 class="font-weight-bold text-success text-center">#numApproved Approved by you</h3>
                        </div>
                    </div>                
                </div>
                <br><br>
                <div class="card">
                    <div>
                        {{> proposalFilters}}
                    </div>                                     
                    <div class="card-body">
                        {{#each proposals as |proposal|}}
                        <div class="proposal" id={{proposal.id}}>
                            <div class="row">
                                <div class="col-md-10">
                                    <h5 class="font-weight-bold">
                                        <a href="../../feasibilityCheck/{{proposal.id}}" name="projectTitle">{{proposal.name}}</a>
                                        <span class="badge badge-pill {{statusBadgeClass proposal.status 'badge'}}">{{status proposal.status}}</span>
                                    </h5>
                                    <h6>Submitted on {{proposal.uploadedAtString}}</h6>
                                </div>
                                <div class="col-md-2">
                                    ##Something
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>               
            </div>            
        </div>               
    </div>
</div>
</div>
</div>