<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">        
        {{#if submission}}
            <h1>
                Project title: {{shortTitle}}<span class="badge badge-pill ml-3 {{statusBadgeClass submission.status 'badge'}}">{{status submission.status}}</span>
                {{#if conceptProposals}}                             
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><strong>Proposal Submitted</strong></button>
                    <div class="dropdown-menu" id="porposalsList{{submission.id}}">
                        {{#each conceptProposals as |proposal|}}
                            <a class="dropdown-item" href="../../proposal/{{proposal.briefSubmissionId}}/{{proposal._id}}">
                                {{formatDate proposal.createdAt}} <span class="badge badge-pill {{statusBadgeClass proposal.status 'badge'}}">{{status proposal.status}}</span>
                            </a>
                        {{/each}}
                    </div>
                {{/if}}
            </h1>
            <h4>
                Submitted on {{formatDate submission.createdAt}} 
                {{#if user.roles.reviewer}}
                    by <strong>{{submission.user.name}}</strong>
                {{/if}}
                {{#if submission.reviewer}}
                    , Reviewed by <strong>{{submission.reviewer.name}}</strong> on {{formatDate submission.decisionDate}}
                {{/if}}
            </h4>
            {{#if submission.rejectionReason}}
                <h4 class="text-danger">Submission has been rejected because {{submission.rejectionReason}}.</h4>
            {{/if}}                       
            {{#if submission.feedback}}
                <br> 
                <div class="card">
                    <h6 class="card-header {{statusBadgeClass submission.status 'bg'}} text-white">
                        <strong>Reviewer's Feedback</strong>: 
                        <i style="font-size:1.5rem;" class="fa fa-pencil prefix"></i>                    
                    </h6>
                    <div class="card-body">
                        {{submission.feedback}}
                    </div>
                </div>
            {{/if}}            

            {{#if user.roles.reviewer}}
            {{else}}
                {{#ifEquals submission.status 'pending'}}
                    <br>
                    <h5>
                        Once the reviewers make a decision on the submission, you will receive an email. You can also always log into the platform to check the status of your submission and/or see any feedback the reviewers might have left on your submission.
                    </h5> 
                {{/ifEquals}}
                {{#ifEquals submission.status 'approved'}}
                    {{#if ../conceptProposals}}
                    {{else}}
                    <br>
                    <h4>
                        Since your submission has been approved, you can now complete the concept proposal for your request by clicking on the link with the same name from the concept proposals section on the side dashboard or click <a href="../../proposal/{{../submission._id}}">here.</a>
                    </h4><br>
                    {{/if}}
                {{/ifEquals}}
            {{/if}}                             
            <br>
        {{else}}
            <h1>
                BWHS research proposal submission Step 1: Feasibility Review Form
            </h1>
            <br>
            <h5>
                The information provided on this form will help us determine if the BWHS has the data and resources to meet the needs of your project.
            </h5>            
            <h5> 
                If you are unsure or undecided about any of the questions, let us know in your responses.
            </h5>                         
        {{/if}}
        <br>                         
        {{> briefForm}}                
        {{#if comments}}
            {{#each comments as |cm|}}
            <br>
            <div class="card">
                <h6 class="card-header bg-info text-white">
                    <strong>{{cm.user.name}}</strong> commented ({{formatDate cm.createdAt}}): 
                    <i style="font-size:1.5rem;" class="fa fa-pencil prefix"></i>
                    {{#ifEquals cm.userId ../user._id}}
                        {{#ifEquals ../../submission.status 'pending'}}
                            <button id="editCm{{cm._id}}" onclick="editComment('{{cm._id}}')" class="btn btn-info float-right">Edit</button>
                            <button id="deleteCm{{cm._id}}" onclick="deleteComment('{{cm._id}}')" class="btn btn-info float-right mr-4">Delete</button>
                        {{/ifEquals}}
                    {{/ifEquals}}
                </h6>
                <div class="card-body">
                    <textarea type="text" class="form-control" rows="4" cols="50" style="resize: none;" disabled id="cmText{{cm._id}}">{{cm.text}}</textarea>
                </div>
            </div>
            {{/each}}
        {{/if}}
        <br>
        {{#if reviewerSection}}
            <label style="font-size:1.5rem;" class="font-weight-bold">Comments(optional)</label>
            <i style="font-size:1.5rem;" class="fa fa-pencil prefix"></i>
            <textarea type="text" class="form-control" id="reviewerComment" placeholder="Enter comments here" rows="4" cols="50"></textarea>
            <br>
            <br>

            <button type="button" class="btn btn-success btn-lg" id="approve" onclick="submitReview('{{user._id}}', 'approved')">Approve</button>
            <button type="button" class="btn btn-danger btn-lg" id="reject" data-toggle="modal" data-target="#rejectionModal">Not approve</button>
            <button type="button" class="btn btn-info btn-lg" id="submitComment" onclick="submitComment('{{user._id}}', '{{submission._id}}')" disabled>Submit comment for other reviewers </button>

            <!-- Modal -->
            <div class="modal fade" id="rejectionModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Please provide a reseaon for rejection</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-check">
                                <input class="form-check-input ml-0" type="radio" name="reason" value="1">
                                <label class="form-check-label">
                                    The necessary data are not available to carry out the aims
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ml-0" type="radio" name="reason" value="2">
                                <label class="form-check-label">
                                    A similar project is already in progress
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input ml-0" type="radio" name="reason" value="3">
                                <label class="form-check-label">
                                    The research was not deemed a sufficient priority for use of limited biospecimen samples
                                </label>
                            </div>
                            <label style="font-size:1.2rem;">Other</label>            
                            <textarea type="text" class="form-control" id="customReason" placeholder="Enter other reason here" rows="4" cols="50"></textarea>
                        </div>                
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" onclick="submitReview('{{user._id}}', 'rejected')">Not approve</button>
                        </div>
                    </div>
                </div>
            </div>        
        {{/if}}            
        <button type="button" class="btn btn-info btn-lg" id="submit" onclick="submitForm()">Submit Brief</button>                       
      </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/public/scripts/briefs/briefForms.js"></script>
<script type="text/javascript" src="/public/scripts/briefs/index.js"></script>